{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="{% static 'music/css/styles.css' %}" rel="stylesheet">
    <title>mix-space</title>
</head>
<body>
    <nav class="navbar navbar-light fixed-top navbar-expand-lg">
        <div class="container-fluid">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-music-player-fill logo-icon" viewBox="0 0 16 16">
                    <path d="M8 12a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                    <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm1 2h6a1 1 0 0 1 1 1v2.5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1zm3 12a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                </svg>
                <a class="navbar-brand mb-1 h1">mix-space</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-lg-between" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-1 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active"  id="nav-home-page-btn" aria-current="page">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link">My Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-upload-btn">Upload</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Following</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Liked</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'log_out' %}">Log out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" id="nav-log-in-btn">Log in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-sing-up-btn">Sign up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-upload-btn">Upload</a>
                        </li>
                    {% endif %}
                </ul>
                <form class="d-flex search-form" role="search" id="search-nav">
                    <input class="form-control me-2" type="search" placeholder="Search for tracks"
                           aria-label="Search">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>


    <!-- <form class="d-flex align-items-center flex-column p-4 search-form" role="search" id="search-page">
        <div class="form-floating mb-3 d-flex flex-row">
            <input class="form-control" type="search" placeholder="Search for tracks" aria-label="Search">
            <label for="id_username" class="form-label">Search for tracks</label>
            <button class="btn btn-outline-dark btn-search" type="submit">Search</button>
        </div>
    </form> -->

    <div id="home-page">
        <h1 class="h1-pos">Last added tracks.</h1>
        <div class="d-flex align-items-center flex-column p-4">
            <div id="card-container">
            </div>
            <div id="loader">
            <div class="skeleton-card"></div>
            </div>
            <div class="card-actions">
            <span>Showing 
                <span id="card-count"></span> of 
                <span id="card-total"></span> last added tracks.      
            </span>
            </div>
        </div>
    </div>

    {% if not user.is_authenticated %}
        <div id="log-in">
            <h1 class="h1-pos">Log in.</h1>
            <p class="text-warning" id="upload-info"></p>
            <form method="post" action="{% url 'log_in' %}" class="d-flex align-items-center flex-column p-4" id="log-in-form">
                {% csrf_token %}
                <div class="form-floating mb-3 d-flex align-items-center flex-column">
                    {% render_field log_in_form.login class="form-control field-width" placeholder="Login" %}
                    <label for="id_login" class="form-label">Login</label>
                </div>
                <div class="form-floating mb-3 d-flex align-items-center flex-column">
                    {% render_field log_in_form.password class="form-control field-width" placeholder="Password" %}
                    <label for="id_password" class="form-label">Password</label>
                </div>
                <button type="submit" class="btn btn-outline-primary submit log-in-btn" name="logIn">Log in</button>
            </form>
            <p class="sign-up-redirect">Don't have account yet? <span id="login-to-redirect-btn">Sign up</span> then!</p>
        </div>

        <div id="sign-up">
            <h1 class="h1-pos">Sign up.</h1>
            <form method="post" action="{% url 'sign_up' %}" class="d-flex align-items-center flex-column p-4" id="sign-up-form" autocomplete="off">
                {% csrf_token %}
                <div class="form-floating mb-3">
                    {% render_field sign_up_form.email class="form-control field-width" placeholder="Email" %}
                    <label for="id_email" class="form-label">Email</label>
                </div>
                <div class="form-floating mb-3">
                    {% render_field sign_up_form.username class="form-control field-width su-nick-input" maxlength="32" placeholder="Username" %}
                    <label for="id_username" class="form-label">Username</label>
                </div>
                <div class="form-text username-form-text">
                    <ul>
                        <li>Your username must be 4-32 characters </br>long.</li>
                        <li>Your username must contain only "a-Z", </br>"0-9", "_".</li>
                    </ul>
                </div>
                <div class="form-floating mb-3 pass-1">
                    {% render_field sign_up_form.password1 class="form-control field-width su-pass-input" placeholder="Password" %}
                    <label for="id_username" class="form-label">Password</label>
                </div>
                <div class="form-text password-form-text">
                    <ul>
                        <li>Your password can’t be too similar to </br>your other personal information.</li>
                        <li>Your password must contain at least 8 </br>characters.</li>
                        <li>Your password can’t be a commonly </br>used password.</li>
                        <li>Your password can’t be entirely </br>numeric.</li>
                    </ul>
                </div>
                <div class="form-floating mb-3 pass-2">
                    {% render_field sign_up_form.password2 class="form-control field-width" placeholder="Confirm password" %}
                    <label for="id_username" class="form-label">Confirm password</label>
                </div>

                <button type="submit" class="btn btn-outline-primary submit sign-up-btn" name="signUp">Sign up</button>
            </form>
        </div>
    {% endif %}

    <div id="upload">
        <h1 class="h1-pos">Place for your music.</h1>
        {% if not user.is_authenticated %}
            <p class="text-warning" id="upload-info">Only logged in users can upload files.</p>
        {% endif %}    
        <form method="post" action="{% url 'upload' %}" enctype="multipart/form-data" class="d-flex align-items-center flex-column p-4" id="upload-form" autocomplete="off">
            {% csrf_token %}
            <div class="form-floating mb-3 d-flex align-items-center flex-column">
                {% render_field add_set_form.title class="form-control field-width u-title-input" placeholder="Title" %}
                <label for="id_title" class="form-label">Title</label>
            </div>
            <div class="form-text title-form-text">
                <ul>
                    <li>Your mix title must be 4-32 characters </br>long.</li>
                </ul>
            </div>
            {% render_field add_set_form.genre class="form-select field-width u-genre-input" %}
            {% render_field add_set_form.file class="form-control field-width u-file-input" %}
            <div class="form-text file-form-text">
                <ul>
                    <li>Only wav extension is allowed at this </br>moment.</li>
                </ul>
            </div>
    
            {% if user.is_authenticated %}
                <button type="submit" class="btn btn-outline-primary submit upload-btn" name="upload">Upload</button>
            {% else %}
                <button class="btn btn-outline-primary submit upload-btn" type="button" id="upload-to-register-btn">Upload</button>
            {% endif %}
        </form>
    </div>

    <div id="user-page">
    </div>

    <footer>
        <p><small>Copyrights © <a href="https://github.com/MateuszMasternak" class="github-redirect">Mateusz Masternak</a> 2022</small></p>
    </footer>
    {% if user.is_authenticated %}
        <script src="{% static 'music/js/showPageLoggedIn.js' %}"></script>
    {% else %}
        <script src="{% static 'music/js/showPageLoggedOut.js' %}"></script>
    {% endif %}
    <script src="{% static 'music/js/cards.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>