{% extends 'music/layout.html' %}
{% load static %}

{% block title %}- home{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <h3 class="h1-pos">Hello, <span id="user-username">{{ user.username | truncatechars:21 }}</span>.</h3>
        <p id="get-current-user" style="display: none;">{{ user.username }}</p>
        {% include 'music/include/messages.html' %}
    {% else %}
        <h2 class="h1-pos">Don't have account yet? <br> <a id="home-to-register-btn" href="{% url 'sign_up' %}">Sign up!</a></h2>
        {% include 'music/include/messages.html' %}
    {% endif %}
    <h1 class="h1-pos">Last added tracks.</h1>
    {% include 'music/include/tracks.html' %}


    <nav class="pagination-parent">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page=1">1</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Previous</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="?page=1">1</a>
                </li>
            {% endif %}
            {% if page_obj.has_previous and page_obj.has_next %}
                <li class="page-item active">
                    <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
                </li>
            {% endif %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link"
                    href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% elif page_obj.paginator.num_pages is 1 %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            {% else %}
                <li class="page-item active">
                    <a class="page-link"
                    href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}