{% extends 'music/layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}- sign up{% endblock %}

{% block body %}
    <h1 class="h1-pos">Sign up.</h1>
    <div class="errors">
        {% if form.errors.email %}
            <div class="form-text text-warning log-in-info">
                {% for error in form.errors.email %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% if form.errors.username %}
            <div class="form-text text-warning log-in-info">
                {% for error in form.errors.username %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% if form.errors.password1 %}
            <div class="form-text text-warning log-in-info">
                {% for error in form.errors.password1 %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% if form.errors.password2 %}
            <div class="form-text text-warning log-in-info">
                {% for error in form.errors.password2 %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <form method="post" action="{% url 'sign_up' %}" class="d-flex align-items-center flex-column p-4" id="sign-up-form" autocomplete="off">
        {% csrf_token %}
        <div class="form-floating mb-3">
            {% render_field form.email class="form-control field-width" placeholder="Email" %}
            <label for="id_email" class="form-label">Email</label>
        </div>
        <div class="form-floating mb-3">
            {% render_field form.username class="form-control field-width su-nick-input" maxlength="32" placeholder="Username" %}
            <label for="id_username" class="form-label">Username</label>
        </div>

        <div class="form-text username-form-text">
            <ul>
                <li>Your username must be 4-32 characters </br>long.</li>
                <li>Your username must contain only "a-Z", </br>"0-9", "_".</li>
            </ul>
        </div>
        <div class="form-floating mb-3 pass-1">
            {% render_field form.password1 class="form-control field-width su-pass-input" placeholder="Password" %}
            <label for="id_username" class="form-label">Password</label>
        </div>

        <div class="form-text password-form-text">
            <ul>
                <li>Your password can’t be too similar to </br>your other personal information.</li>
                <li>Your password must contain at least 8 </br>characters.</li>
                <li>Your password can’t be a commonly </br>used password.</li>
                <li>Your password can’t be entirely </br>numeric.</li>
            </ul>
        </div>
        <div class="form-floating mb-3 pass-2">
            {% render_field form.password2 class="form-control field-width" placeholder="Confirm password" %}
            <label for="id_username" class="form-label">Confirm password</label>
        </div>

        <button type="submit" class="btn btn-outline-primary submit sign-up-btn" name="signUp">Sign up</button>
    </form>
    <script src="{% static 'music/js/showInfo.js' %}"></script>
{% endblock %}