body {
    background-color: ghostwhite;
}

.navbar {
    background-color: ghostwhite;
}

.nav-link:hover {
    cursor: pointer;
}

.btn-search {
    margin-left: 0.5em;
}

.h1-pos {
    margin-top: 2.5em;
    text-align: center;
    font-size: 2em;
    margin-bottom: -0.1em;
}

.track-title {
    font-size: 0.8em;
}

.track-title, .track-artist {
    color: black;
    text-decoration: none;
}

.card {
    height: 13em;
    width: 17em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    background-color: rgb(210, 218, 255);
    justify-content: space-between;
    padding: 1em;
    border-radius: 3px;
    transition: all 200ms ease-in-out 0s;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.track-artist {
    font-size: 0.7em;
}

.track-genre {
    font-size: 0.8em;
    font-weight: bold;
}

.track-datetime {
    font-size: 0.8em;
    margin-top: -1em;
    margin-bottom: 0.6em;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.pagination-parent {
    margin-top: -1em;
}

.field-width {
    width: 17em;
}

.password-form-text {
    margin: -0.8em 2.3em -1em 0em;
    display: none;
}

.username-form-text {
    margin: -0.8em 1.5em -1em 0em;
    display: none;
}

.title-form-text {
    margin-top: -0.8em;
    margin-right: 2.2em;
    display: none;
}

.file-form-text {
    margin-top: 0.3em;
    margin-right: 2.8em;
    display: none;
}

.submit {
    margin-right: 11.9em;
    padding: 0.7em;
    background-color: #fff;
    color: #0d6efd;
    border: 1px solid #ced4da;
}

.log-in-btn {
    margin-right: 12.6em;
}

.sign-up-redirect {
    text-align: center;
}

.sign-up-redirect span {
    text-decoration: underline;
}

.sign-up-redirect span:hover {
    color: #0d6efd;
    cursor: pointer;
}

#upload-info {
    margin-top: 1em;
    margin-bottom: -1em;
    text-align: center;
    font-weight: bold;
}

.upload-btn {
    margin-right: 12.3em;
    margin-top: 1em;
}

.u-genre-input {
    margin-bottom: 1em;
}

footer p {
    text-align: center;
    font-weight: bold;
    font-size: 1em;
}

.github-redirect {
    color: black;
}

.github-redirect:hover {
    color: #0d6efd;
}

#home-page {
    display: block;
}

#log-in, #sign-up, #upload, #user-page {
    display: none;
}